
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SimulateLogin</title>
</head>
<body>
    <div> 
        <form method="post">
            <img src="@ViewBag.AuthImgUrl" />
            <input type="text" name="Captcha" />
            <input type="submit" value="提交" />
        </form>
        
    </div>
</body>
</html>
