
@{
    ViewBag.Title = "SaveBlog";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>SaveBlog</h2>
<form method="post">
    <input type="text" name="uname" value="kungge" />
    <input type="submit" />
</form>
