
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="~/scripts/jquery-1.11.3.min.js"></script>

<div id="guests"></div>

<script type="text/javascript">
    $(function () {
        //alert(9);
        //$.getJSON("http://www.kungge.net/wxapi/gust", function (data) {
        //    alert('10:'+data);
        //});

        $.ajax({
            Type: "GET",
            url: "http://www.kungge.net/wxapi/gust",
            dataType: "jsonp",
            success: ShowGuestInfo
        });

        function ShowGuestInfo(guests) {
            //alert('29:' + JSON.stringify(guests.Data));
            $.each(guests.Data, function (index, contact) {
                var html = "<ul>";
                html += "<li>来宾: " + contact.GuestName + "</li>";
                html += "<li>电话:" + contact.MobilePhone + "</li>";
                html += "</ul>";
                $("#guests").append($(html));
            });
        }

    });
</script>

