
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post">
            <input type="text" name="SearchKey" />
            <input type="submit" value="搜索" />
        </form>
    </div>
</body>
</html>
